* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(39, 41, 42);
  color: rgb(144, 135, 135);
}

.container {
  width: 600px;
  min-height: 300px;
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px; 
}

.header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 60px;
  color: lightgreen;
}

a {
  color: rgb(196, 219, 161);
}

.btn {
  display:inline-block;
  color: rgb(231, 226, 226);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 25px;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}


.btn:active {
  transform: scale(0.98);
}

.task {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  margin: 5px;
  background-color: rgb(0, 0, 0);
  color:rgb(168, 158, 158);
  padding: 20px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.task h3 {
  color: white; 
}

.task.active {
  border-left: 8px solid rgb(70, 255, 249);
}

.task h3 {
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 10px;
  margin-bottom: 40px;
  color:rgb(174, 171, 171);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form-control {
  margin: 20px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.form-control-check input {
  height: 30px;
}

footer {
  margin-top: 20px;
  text-align: center;
}
footer a {
  color: rgba(31, 255, 31, 0.431);
}